<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading">Cart</div>
		<!-- Table -->
		<table class="table table-bordered">
				<thead>
				<tr>
						<th>Project Title</th>
						<th>Amount</th>
						<th>Remove</th>

				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="item in cartItems">
						<td>{{item.title}}</td>
						<td>{{item.amount | currency}}</td>
						<td>
								<a class="btn btn-sm btn-danger" href="" ng-click="removeFromCart(item._id)">
																<span class="glyphicon glyphicon-remove">
														</span>
								</a>
						</td>
				</tr>
				<tr>
						<td><strong>Total</strong></td>
						<td><strong>{{cart.getTotalAmount() | currency}}</strong></td>
						<td><a data-ng-if="cartItems.length" class="btn btn-sm  btn-danger" href="" ng-click="removeAllFromCart()"><span
														class="glyphicon glyphicon-remove"></span></a></td>
				</tr>
				</tbody>
		</table>
		{{cart.error}}
</div>